.trello-logo {
    color: white;
}
.login-terllo {
    color: gray;
}
.or {
    text-align: center;
}
.work-spaces {
    color: gray;
    font-size: 20px;
}
.center {
    text-align: center;
}
.board {
    width: 100%;
}
.card-full {
    max-width: 100%;
}

